// COLORS
$primary-color: #1f4e5f;
$secondary-color: #389fc5;

$white-color: #fff;

$dark-grey: #333333;

$dark-blue-text: #389fc5; // For Headings

// FONT SIZE
$default-font-size: 1.5rem;
$big-font-size: 6rem;
$mid-font-size: 3.5rem;